div.notfound{
    color: red;
}
div.a{
    background-color: rgb(51, 4, 112);
    margin: 10px;
    text-align: center;
    padding: 10px;
    color: rgb(9, 248, 49);
}
div.content{
    color: rgb(9, 248, 49);
}